body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  text-align: center;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.creative{
  color: #191970;
}
.card{
  width: 45%;
  text-align: justify;
}
.tile-image{
  float: left;
  height: 200px;
  margin-right: 50px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.card-title, .card-text{
  margin-top: 0;
  padding: 0;
}
@media(max-width: 800px){
  .logo{
    width: 100px;
  }
  h1{
    font-size: 3.5rem;
  }
 
  .card{
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  .card img{
    width: 100%;
    margin-bottom: 10px;
    display: inline;
  }
}
@media(min-width: 800px) and (max-width: 1200px){
  .logo{
    width: 100px;
  }
  h1{
    font-size: 4rem;
  }
  .card img{
    width: 30%;
  }
}