*{
    margin: 0;
    padding: 0;
    text-align: center;
}
.hero, .about, .contact{
    padding: 10%;
    height: 100%;
    background-color: #2C3639;
}
.top_container, .contact_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item{
    margin-bottom: 2%;
}
.text_title{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.text_title img{
    border-radius: 50%;
    height: 50%;
    width: 50%;
}
.name{
    font-size: 3rem;
}
.text{
    color: #DCD7C9;
}
.about_container{
    height: 100%;
}
.about_title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    gap: 2%;
}
.grad_pic{
    height: 100%;
    width: 100%;
    border-radius: 5%;
}
.one{
    grid-column: span 3;
}
.two{
    padding: 5%;
}
.three{
    padding: 10%;
    grid-column: span 2;
}
.profile{
    font-size: 1.5rem;
    text-align: justify;
}
.more{
    width: 20vw;
    height: 10vh;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 0 0 10px rgba(220, 215, 201, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.more a{
    text-decoration: none;
    color: #A27B5C;
    font-size: 1.5rem;
}
.first{
    text-align: end;
    font-style: italic;
    margin-top: 5%;
}
.first a{ 
    text-decoration: none;
    color: #A27B5C;
    font-size: 1.5rem;
}
.message{
    font-size: 1.5rem;
    width: 40vw;
    height: 10vh;
    border-radius: 20px;
    color: #DCD7C9;
    background-color: #2C3639;
    box-shadow: 0 0 5px rgba(220, 215, 201, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.long{
    height: 30vh;
}
.contact_text{
    font-size: 1.5rem;
    text-align: start;
}
.send{
    margin-top: 5%;
    font-size: 1.5rem;
    width: 20vw;
    height: 10vh;
    border-radius: 20px;
    color: #A27B5C;
    background-color: #2C3639;
    box-shadow: 0 0 10px rgba(220, 215, 201, 0.5);
}
@media(max-width: 900px){
    .hero, .about{
        padding: 5%;
    }
    .about_title{
        display: block;
    }
    .two{
        display: none;
     }
     .more{
        width: 40vw;
        height: 10vh;
    }
    .message{
        width: 70vw;
    }
    .send{
        width: 50vw;
    }
}